<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiSDIContact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MultiSDIContact.Properties.Settings>
            <setting name="DefaultFirstName" serializeAs="String">
                <value>John</value>
            </setting>
            <setting name="DefaultLastName" serializeAs="String">
                <value>Doe</value>
            </setting>
        </MultiSDIContact.Properties.Settings>
    </userSettings>
</configuration>